.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background: rgb(247, 247, 247);
  transform-origin: center bottom;
  transform: skew(-13.9deg, 0deg);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 52px;
  height: 100%;
}
